@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
    margin:0px;
  }
  body{
    background-color: #f8edeb;
  }
  h1 {
    margin: 5%;
    text-align: center;
    font-size: 175%;
  }
  p {
    padding: 6%;
  }
  span{
   border: 1px solid #000000;
   position: absolute;
   right: 0%;
   top:0%;
   padding:1% 20% 1% 20%;
   font-weight: bold;
   font-size: 125%;
  }

  div div{
    background-color: #ADA8B6;
    border:  1px solid #000000;
    position: relative;
    margin: 2% 1% 2% 1%;
    padding: 1%;
  }

  #title1{
    background-color: #DB5A42;
  }

  #title2{
    background-color:#3772FF ;
  }

  #title3{
    background-color: #FDCA40;
  }

  /* Simple Responsive Framework. */
  .row {
    width: 100%;
    /* padding: 0% 2% 0% 2%; */
  }
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 31%;
    }
  }
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
     .col-md-6,.col-md-12 {
      float: left;
    }
    .col-md-6 {
      width: 48%;
    }
    .col-md-12 {
      width:98%;
    }
  }
  /********** Small devices only **********/
  @media (max-width: 767px) {
    .col-sm-12 {
      float: left;
      width: 95%;
    }
  }