@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
}
body{
    background-color: #e2e2e2;
}

h1 {
    font-size: 175%;
    color: #090C9B;
}

.titulo{
  font-size: 125%;
  color: #235789;
}

.colum{
border: 1px #000000 solid;
margin-bottom: 2%;
background-color: #9d9ba0;
}

.row{
  margin-left: 2%;
  margin-right: 2%;
}

  